:root {
	--primary-color: #3498db;
	--dark-primary-color: hsl(204, 70%, 40%);
	--secondary-color: #2ecc71;
	--background-color: #f0f0f0;
	--text-color: #333;
	--border-color: #ddd;
	--selection-background-color: #e8f4fd;
}

body {
	font-family: 'Arial', sans-serif;
	line-height: 1.6;
	color: var(--text-color);
	background-color: var(--background-color);
	margin: 0;
	padding: 0;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

h1 {
	color: var(--dark-primary-color);
}

h2,
h3 {
	color: var(--primary-color);
}

input,
button {
	font-size: 16px;
	padding: 10px;
	margin: 5px 0;
	border: 1px solid var(--border-color);
	border-radius: 4px;
}

button {
	background-color: var(--primary-color);
	color: white;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #2980b9;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	margin-bottom: 10px;
}
